h1 {
  text-align: center;
  font-size: 50px;
}

input {
  background-color: black;
}

.row {
  padding: 15px;
  margin: 0 auto;
  width: 50%;
  font-size: 18px;
}

.txtbox {
  width: 100%;
}

.alinea-btn {
  margin-left: 5%;
}

.btn {
  display: inline-block;
  font-size: 20px;
  border-radius: 5px;
  border: 2px solid rgb(49, 121, 255);
  background-color: black;
  color: white;
  width: 80px;
  padding: 12px;
  cursor: pointer;
  transition-duration: 0.5s;
  box-shadow: 0 9px rgb(6, 7, 7);
}

.btn:hover{
  background-color: rgb(49, 121, 255);
  color: white;
}

.btn:active {
  background-color: rgb(64, 110, 197);
  box-shadow: 0 5px rgb(0, 0, 0);
  transform: translateY(3px);
}

.text-danger {
  display: block;
  margin-left: 5%;
  padding-top: 2px;
  color: #ff0000a6;
}

#faceptar {
  float: left;
  margin-right: 8px;
  margin-left: 8px;
  cursor: pointer;
}

input {
  border-radius: 4px;
  width: 15px;
  padding: 8px;
}